steps:
  # (Other steps go here)
  - name: "Upload coverage to Codecov"
    uses: codecov/codecov-action@v2
    with:
      fail_ci_if_error: true
      token: ${{ secrets.CODECOV_TOKEN }} # not required for public repos
      
[run]
source=Z-PNN
